.maincontainer
{
    width: 302px;
    height: 500px;
    margin: 10px;
    float: left; /* stack each div horizontally */
}

.img
{
   border-radius: 10px;
   height: auto;
   width: 302px;
}

.back h2,p{
    padding: .5rem;
}

.back h2
{
    position: absolute;
}

.back p
{
    position: absolute;
    top: 50px;
    font-size: 15px;
}

.front h2
{
    position: absolute;
    padding: 10px;
    top: 200px;
    color: #fcfbf052;
}

/* style the maincontainer class with all child div's of class .front */
.maincontainer > .front
{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    
    width:300px;
    height: 500px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.maincontainer > .back
{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    /* background: #8f7546; */
    background-image: linear-gradient(to right bottom, #8f7546, #957946, #9b7d45, #a28145, #a88544, #a88440, #a9823d, #a98139, #a37a31, #9d7329, #986d21, #926618);
    color: #ffeecb;
    width:300px;
    line-height: 23px;
    height: 450px;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
    transition: transform .5s linear 0s;
}

.back h2{
    color: #ebe4e1;
}

.maincontainer:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.maincontainer:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}

